<form class="form-signin" style="padding-top: 3%; padding-left: 40%;" [formGroup]="loginForm" (ngSubmit)="onsubmit()">
  
    <table>
        <tr>
            <td style="text-align: center;">
                <h1 class="h3 mb-3 font-weight-normal">LOG IN</h1>
            </td>
        </tr>
        <table>
            <tr>
                <td>
                    <label for="inputUsername">Usuario</label>                 
                </td>
                <td>
                    <input type="text" class="form-control" placeholder="username" autofocus formControlName="username">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="inputPassword">Contraseña</label>
                  
                </td>
                <td>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password">
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <div class="checkbox mb-3">
                        <label>
                          <input type="checkbox" value="remember-me"> Remember me
                        </label>
                      </div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button class="btn btn-lg btn-primary" type="submit" style="background-color: red;">Login</button>
                </td>
            </tr>
        </table>
    </table> 

</form>
