<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
    
    <div class="container" style="background-color:rgb(188, 240, 240);">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Our Courses</h5>
                <tr>
                    <td style="width: 200px;">
                        <div>
                            <ul class="list-unstyled quick-links">
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Web develpment</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Computer Engeneering</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Grafic Design</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Software Development</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Advance Wordpress</a></li>               
                            </ul>
                        </div>
                    </td>
                    <td style="width: 200px;">
                        <div>
                            <ul class="list-unstyled quick-links">
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Business Estudies</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>English Learning</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Color Combination</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Photography</a></li>
                                <li><a href=""><i class="fa fa-angle-double-right"></i>Basic PSD to HTML</a></li>               
                            </ul>
                        </div>
                    </td>
                </tr>
                               
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Company</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>About Net</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Meet Advisors</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Join A Carreer</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Latest Courses</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Newsletters</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <app-suscribe-form></app-suscribe-form>
            </div>
        </div>
        
        <div class="row" style="background-color:teal;">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">© All right Reversed.</p>
            </div>
            <hr>
        </div>	
    </div>
    
</footer>


<!---

<div style="background-color: slateblue;">
    <table>
        <tr>
            <td style="width: 680px;">
                <h2>Componente Reutilizable "FOOTER"</h2>
            </td>
            <td>
                <h2>
                    <app-suscribe-form></app-suscribe-form>
                </h2>
            </td>
        </tr>
    </table>
</div>
-->

