<!--Componentes de contenedores en sus páginas-->
<!--Componentes de contenedores en sus páginas-->
<div style="text-align: center; background-color: thistle;">
    <h2>More than 1200 Online Courses!</h2>
</div>
<div style="background-color:darkslategray">
    <p style="text-align: center;color: red;">- popular courses -</p>
    <h2 style="text-align: center;color: red;">Available Courses</h2>
    <app-course-list [isFeatured]="true"></app-course-list>
</div>
<div style="background-color:lightblue"> 
    <app-instructors></app-instructors>
</div>

